/*body {
    overflow-x: hidden;
}*/
body {
    font-family: Verdana;
    font-size: 14px;
    margin: 0;
    background: #E9EDF0;
    padding-top: 50px; 
  
}
.room-head {
    margin-top: -35px;
    padding: 20px;
    border-bottom: 2px solid #CCCCCC;
    padding-bottom: 8px;
}
.prof-img {
    vertical-align: bottom;
}
.welcome-panel {
    padding-right: 20px;
}
.cust-text {
    width: 22%;
    display: initial;
    vertical-align: middle;
    margin-left: 11px;
}
.messages {
    margin: 20px;
    
}


.join-room {
    margin-left: 5px;
}
.messages {

    width: 100%;
    height: 377px;
    border: #D1D1D1 1px solid; 
    overflow-x: hidden;   
    background-color: white;
}
.message {  
    padding: 3px;
    padding-left: 10px;
    background: #fff;
    height: auto;
    clear: both;
    -webkit-transition: background 0.5s;
}
[scroll-glue] {
    scrollbar-face-color: blue;
    overflow-y: scroll;
    
}
.message img {
    vertical-align: baseline;
    margin-right: 9px;
}
.chat-input {
    /*position: absolute;
    bottom: 0px;*/
    width: 93%;
    text-align: center;
    margin-bottom: 14px;
    padding-left: 8px;
}
.form-control{
    width: 100%;
    
}
.back-btn {
    vertical-align: bottom;
    margin-left: 20px;
}
.MsgOpt {
    text-align: left;
}
button.tag{
    margin-right: 5px;
    margin-right: 5px;
}
.room {
    margin: 0 auto;
    width: 500px;
    max-height: 500px;
    margin-top: 15px;
    background:#FFFFFF;
    padding: 15px;
    left: 20%;
}
.PeopleInChat {
    padding: 20px;
    width: 50%;
    height: 377px;
    border: #D1D1D1 1px solid; 
    overflow-x: hidden;   
    background-color: white;
}