<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="blended_layout.css">
  <title>Page Title</title>
  <meta name="description" content="Write some words to describe your html page">
</head>
<body>
  <nav class="navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:location.reload();"></a>
        <a class="navbar-brand" href="javascript:location.reload();"></a>
        <a class="navbar-brand" href="javascript:location.reload();"></a>
        <a class="navbar-brand" href="javascript:location.reload();"></a>
        <a class="navbar-brand" href="javascript:location.reload();">Brand</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group navbar-left">
            <input type="text" class="form-control searchBar" placeholder="Search" ng-model="keyword" >
            <label class="welcome-panel" ng-show="user">
              <img class="prof-img" ng-src="{{user.img}}" width="39" />
              <!--<button class="btn btn-xs btn-primary" ng-click="logout()"><h6>LOGOUT</h6></button>-->
            </label>
          </div>
          
        </form>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="logout()">LOGOUT</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h1>11111</h1>
  <h1>11111</h1>
  <h1>11111</h1>
  <h1>11111</h1>
  <h1>11111</h1>
  <h1>11111</h1>
  <h1>11111</h1>
  <h1>11111</h1>
  <h1>11111</h1>
  <h1>11111</h1>
  <h1>11111</h1>
  <h1>11111</h1>
  <h1>11111</h1>
</body>
</html>